<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cvte.todocenter.mapper.TaskMapper">

    <resultMap id="partTaskMap" type="com.cvte.todocenter.bean.Task">
        <id column="task_id" property="taskId"/>
        <result column="task_name" property="taskName"/>
        <result column="deadline" property="deadline"/>
    </resultMap>

    <insert id="insertTask" parameterType="com.cvte.todocenter.bean.Task" useGeneratedKeys="true" keyProperty="taskId">
        insert into task(task_name,deadline,is_delete,last_ope_time,operation)
        values (#{taskName},#{deadline},0,#{lastOpeTime},#{operation})
    </insert>

    <select id="selectAll" resultMap="partTaskMap">
        select task_id,task_name,deadline from task
        where is_delete!=1
    </select>

    <update id="deleteTaskById" parameterType="int">
        update task set is_delete=1
        where task_id=#{taskId}
    </update>
    
    <select id="selectTaskById" parameterType="int" resultType="com.cvte.todocenter.bean.Task">
        select task_id,task_name,deadline from task
        where task_id=#{taskId} and is_delete!=1
    </select>
    
    <update id="updateTaskById" parameterType="com.cvte.todocenter.bean.Task">
        update task
        <set>
        <if test="taskName!=null">
        task_name=#{taskName},
        </if>
        <if test="deadline!=null">
        deadline=#{deadline},
        </if>
        <if test="isDelete!=null">
        is_delete=#{isDelete},
        </if>
        </set>
        where task_id=#{taskId}
    </update>

    <select id="selectTaskByName" parameterType="java.lang.String" resultType="com.cvte.todocenter.bean.Task">
        select task_id,task_name,deadline from task
        where task_name=#{taskName} and is_delete!=1
    </select>

    <select id="selectAllDelTask" resultType="com.cvte.todocenter.bean.Task">
        select task_id,task_name,deadline from task
        where is_delete=1
    </select>

    <update id="batchDeleteTask" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            update task
            <set>
                is_delete=1
            </set>
            where task_id=${item}
        </foreach>
    </update>

    <insert id="insertTaskUser" parameterType="java.util.List">
        insert into user_task(user_id,task_id,is_delete)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.userId},#{item.taskId},0)
        </foreach>
    </insert>

    <update id="deleteTaskUserById" parameterType="int">
        update user_task set is_delete=1
        where user_id=#{userId} and task_id=#{taskId}
    </update>

    <select id="selectAllTaskUser" resultType="com.cvte.todocenter.bean.User" parameterType="int">
        select user_id,user_name,email
        from user
        where user_id in
        (select user_id from user_task where task_id=#{taskId})
    </select>
    
</mapper>