<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cvte.todocenter.mapper.UserMapper">

    <insert id="insertUser" parameterType="com.cvte.todocenter.bean.User">
        insert into user(user_name,email,is_delete)
        values (#{userName},#{email},0)
    </insert>

    <select id="selectAll" resultType="com.cvte.todocenter.bean.User">
        select user_id,user_name,email from user
        where is_delete!=1
    </select>

    <update id="deleteUserById" parameterType="int">
        update user set is_delete=1
        where user_id=#{userId}
    </update>

    <select id="selectUserById" parameterType="int" resultType="com.cvte.todocenter.bean.User">
        select user_id,user_name,email from user
        where user_id=#{userId} and is_delete!=1
    </select>

    <update id="updateUserById" parameterType="com.cvte.todocenter.bean.User">
        update user
        <set>
        <if test="userName!=null">
        user_name=#{userName}
        </if>
        <if test="email!=null">
        email=#{email}
        </if>
        <if test="isDelete!=null">
        is_delete=#{isDelete}
        </if>
        where user_id=#{userId}
        </set>
    </update>

    <select id="selectUserByName" parameterType="java.lang.String" resultType="com.cvte.todocenter.bean.User">
        select user_id,user_name,email from user
        where user_name=#{userName} and is_delete!=1
    </select>

    <select id="selectAllDelUser" resultType="com.cvte.todocenter.bean.User">
        select user_id,user_name,email from user
        where is_delete=1
    </select>

    <update id="batchDeleteUser" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" separator=";">
            update user
            <set>
                is_delete=1
            </set>
            where user_id=${item}
        </foreach>
    </update>

    <select id="selectAllUserTeam" resultType="com.cvte.todocenter.bean.Team" parameterType="int">
        select team_id,team_name
        from team
        where team_id in
        (select team_id from user_team where user_id=#{userId})
    </select>

    <select id="selectAllUserTask" resultType="com.cvte.todocenter.bean.Task" parameterType="int">
        select task_id,task_name,deadline
        from task
        where task_id in
        (select task_id from user_task where user_id=#{userId})
    </select>


</mapper>